.sidebar {
    margin: 25px;
    height: 200px;
    width:50px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .50);
    backdrop-filter: blur(5px);
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   border: 1px solid rgba(255, 255, 255, .50);
}
.nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.nav ul li{
    margin: 10px 0;
}
.sidebar ul li a {
    margin: auto;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 100;
}
.sidebar ul li a.active{
    padding:5px;
   background-color: rgba(255, 255, 255, .50);
   border-radius: 50%;
}
.icon{
    font-weight: lighter;
}