.main-content{
    height: 500px;
    width: 70%;
    border-radius: 15px;
    background-color: rgba(144, 155, 139, 0.5);
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}